@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Roboto+Slab:wght@300;400&display=swap");

body {
  background: rgba(0, 28, 39, 0.811) url(https://picsum.photos/id/1019/1500);
  color: #fff;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat-x;
  font-family: "Roboto Slab", serif;
  letter-spacing: 1.5px;
  text-shadow: rgb(2, 24, 63) 2px 2px 2px;
  font-size: 1em;
}

nav {
  letter-spacing: 2px;
  width: 100%;
}

.navbar {
  position: fixed;
  background: rgba(0, 28, 39, 0.811);
  z-index: 999999;
}

.heading {
  padding-top: 90px;
  text-align: center;
}

h1 {
  font-weight: bolder;
  font-size: 5vw;
  font-family: "Gideon Roman";
  letter-spacing: 3px;
}

h5 {
  font-size: 2vw;
}

hr {
  margin-bottom: 20px;
}

.breadcrumb {
  --bs-breadcrumb-divider: ">";
  --bs-breadcrumb-divider-color: rgb(11, 109, 147);
  text-shadow: rgb(2, 24, 63) 1px 1px 2px;
  margin-bottom: 30px;
}

.breadcrumb-item.active {
  color: rgb(11, 109, 147);
}

.list-group {
  text-align: left;
  --bs-list-group-color: #fff;
  --bs-list-group-bg: rgba(0, 28, 39, 0.287);
  --bs-list-group-border-color: transparent;
  --bs-list-group-action-color: rgba(0, 28, 39, 0.811);
  --bs-list-group-action-hover-color: rgba(0, 28, 39, 0.811);
  --bs-list-group-action-hover-bg: rgba(0, 28, 39, 0.287);
  --bs-list-group-action-active-color: #fff;
  --bs-list-group-action-active-bg: rgba(0, 28, 39, 0.287);
  --bs-list-group-active-bg: rgba(0, 28, 39, 0.811);
  --bs-list-group-active-border-color: rgba(0, 28, 39, 0.287);
  box-shadow: rgb(2, 24, 63) 1px 1px 1px;
}

.card {
  display: inline-block;
  overflow: hidden;
  height: 31em;
  margin-bottom: 10px;
  background: rgba(0, 28, 39, 0.287);
  box-shadow: rgb(2, 24, 63) 1px 1px 1px;
}

.card:hover {
  background: rgba(0, 28, 39, 0.811);
}

.card img {
  transition: 1s;
  display: block;
  padding: 10px;
  border-radius: 15px;
  max-width: 30em;
  max-height: 18em;
  margin: auto;
}

.card img:hover {
  transform: scale(1.1);
}

.card-body {
  height: 3em;
  padding: 0.5em;
  height: 9em;
  /* background: red; */
  margin-bottom: 10px;
}

.card-body h5 {
  font-size: 1.5em;
  padding-bottom: 5px;
}

.card .btn {
  color: #fff;
}

.card .btn:hover {
  box-shadow: #fff 1px 1px 10px;
}

.card .btn:active {
  border: none;
  box-shadow: none;
}

.scale {
  transition: 1s;
}
.scale:hover {
  transform: scale(1.1);
}

footer {
  padding: 40px;
  font-size: smaller;
  text-align: justify;
  margin-bottom: 80px;
}

.external-link,
.breadcrumb a {
  color: #fff;
  font-size: small;
  text-decoration: underline;
}

.external-link:hover,
.breadcrumb a:hover {
  color: rgba(0, 28, 39, 0.811);
  text-decoration: none;
}

.external-link:active,
.breadcrumb a:activate {
  color: #fff;
  text-decoration: none;
}

.references {
  max-width: 100%;
  margin: 20px;
  text-align: center;
  display: inline-block;
}

.references img {
  max-width: 13%;
}

.references a {
  text-decoration: none;
}
